li {
  list-style: none;
  text-decoration: none;
}

.nav-link {
  color: #555; /* 진한 그레이 */
  text-decoration: none !important;
}

.nav-link:hover {
  color: #555; /* 진한 그레이 */
  text-decoration: none !important;
  opacity: 0.9;
  font-weight: 350;
}

.top {
  width: 100vw;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 0 1.5rem;
}

.top-menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 0;
}

.top-logo {
  color: #555;
  font-size: large;
  font-weight: 700;
}

.top-contact {
}

/* main */
.main {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-div {
  width: 35%;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

/* contact */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  background-color: blanchedalmond;
  text-align: center;
  line-height: 100px;
  position: fixed;
  bottom: 0;
}
