.top {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

.top-menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 0;
}

.top-logo {
}

.top-contact {
}
