.top {
  width: 100vw;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 0 1.5rem;
}

.top-menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 0;
}

.top-logo {
}

.top-contact {
}

.main {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
